@import '../../assets/base.css';
.main-cont-treatment{
    padding: 8px 20px 8px 8px;
    width: 100%;
    max-width: 100%;
}
.treatment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
}
.treatment-header h4{
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.treatment-header p{
    margin: 0;
    font-size: 0.8rem;
    color: var(--text-color);
}