:root {
  --primary-color: #00b09b;
  --sec-color: #1e776d;
  --bg-app: #e0e0e0;/*f5f5f5*/
  --bg--component-color-white: #ffffff;

  --color-text-primary: #2D3748;
  --color-text-secondary: #6d7784;
  --color-text-tertiary: #ffffff;
  --color-text-quaternary: #ebebeb;

  --color-green-parameter:#27c02f;
  --color-red-parameter:#E53E3E;

  --font-size-title: 18px;

  --color-icon: #0d0b80;


}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  color: var(--color-text-primary);
  /* background: var(--bg-app); */
  background: rgb(238, 237, 237);
  line-height: 1.6;
  font-family:
  Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 15px;
  padding-left: 240px;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
