@import '../../assets/base.css';
.header-container div h5{
    color: var(--color-text-secondary);
    margin: 0;
}
.header-container div h5 span{
    color: var(--color-text-primary);
    font-weight: bold;
}
.header-container div h4{
    font-weight: bolder;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 10px;
}
.header-container :first-child{
    display: flex;
    flex-direction: column;
}
.header-container :last-child{
    align-items: center;
    display: flex;
    gap: 15px;
}
