@import '../../assets/base.css';
.card-pat{
    width: 240px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1.3rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--icon-color-gray);
}
.card-pat .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.7rem;
  padding-bottom: 1rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--icon-color-gray);
}
.card-pat .top .left {
  flex: .8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
}
.card-pat .top .left div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.card-pat .top .left div img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card-pat .top .mid{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-pat .top .mid h5{
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-text-secondary);
  margin: 0;
  cursor: pointer;
}
.card-pat .top .mid p{
  font-size: 0.7rem;
  color: var(--color-text-primary);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-pat .top .rigth{
  flex: 1;
  height: 100%;
  align-items: center;
  display: flex;
  gap: 0.3rem;
  padding-right: 0.5rem;
}
.ic{
  color: var(--icon-color-gray);
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}
.card-pat .mid2{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.card-pat .mid2 div p{
  font-size: 0.85rem;
  color: var(--color-text-primary);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-pat .mid2 div{
  display: flex;
  gap: 0.2rem;
}
.card-pat .bot1{
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  width: 100%;
  padding: 0.2rem 0;
  gap: 2rem;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--icon-color-gray);
  padding-top: 0.8rem;
}
.card-pat .bot1 .p1{
  font-size: 0.85rem;
  color: var(--color-text-primary);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-pat .bot1 .p2{
  font-size: 0.95rem;
  color: var(--color-text-primary);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}
.card-pat .bot1 .rigth1 .p2{
  color: var(--primary-color);
}
.card-pat .bot1 div{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.card-pat .bot1 button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  gap: 0.2rem;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--icon-color-gray);
  cursor: pointer;
}
.card-pat .bot1 button .ic2{
  width: 1.1rem;
  height: 1.1rem;
  
}
.card-pat .bot1 .rigth1 button{
  background-color: var(--primary-color);
  color: white;
}
.card-pat .mid2 .ic2{
  width: 1.1rem;
  height: 1.1rem;
  color: var(--icon-color-gray);
}
.card-pat .mid2 div{
  padding-inline: 0.5rem;
}