@import '../../assets/base.css';
.head-paciente-title1{
    font-size: 14px;
    font-weight: bold;
    color: var(--color-text-secondary);
    margin: 0;
    display: flex;
    margin-right: 20px;
    margin-bottom: 6px;
    gap: 10px;
    /* justify-content: space-between; */
    align-items: center;
    padding-left: 8px;
    ;
}
.head-paciente-title1 .ci{
    text-align: center;
    width: 64px;
}
.head-paciente-title1 .name{
    text-align: center;
    
    width: 180px;
}
.head-paciente-title1 .treatment{
        text-align: center;
        width: 250px;
}
.head-paciente-title1 .phone{
    text-align: center;
    flex: 0.5;
}
