@import '../../assets/base.css';
.pat-card-cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding-inline-start: 0.4rem;
    padding-inline-end: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

/* Ajuste simple para cuando el sidebar está colapsado */
.main-content.sidebar-collapsed .pat-card-cont {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1.5rem;
}