@import '../../assets/base.css';
.chard-paciente-main-cont{
    display: flex;
    gap: 8px;
    /* justify-content: space-between;  */
    flex-wrap: wrap;
    margin-bottom: 6px;
    margin-right: 20px;
    align-items: center;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

.chard-paciente-main-cont p{
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;      
}
.chard-paciente-main-cont img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
}
.chard-paciente-main-cont .ci{
    width: 80px;
    max-width: 80px;
}
.chard-paciente-main-cont .name{
    width: 170px;
}
.chard-paciente-main-cont .phone{
    width: 75px;
    max-width: 75px;
}
.chard-paciente-main-cont .date{
    width: 74px;
    max-width: 74px;
}

.chard-paciente-main-cont .name:hover{
    cursor: pointer;
    text-decoration: underline;
}
.chard-paciente-main-cont img:hover{
    cursor: pointer;
}
.chard-paciente-main-cont .treatment{
    width: 230px;
    max-width: 230px;
}

