@import '../../assets/base.css';
.chard-paciente-main-cont{
    display: flex;
    gap: 8px;
    /* justify-content: space-between;  */
    flex-wrap: wrap;
    margin-bottom: 6px;
    margin-right: 20px;
    align-items: center;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

.chard-paciente-main-cont p{
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;      
}
.chard-paciente-main-cont img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
}
.chard-paciente-main-cont img:hover{
    cursor: pointer;
}
.chard-paciente-main-cont .ci{
    width: 80px;
    max-width: 80px;
}
.chard-paciente-main-cont .name{
    width: 170px;
}
.chard-paciente-main-cont .phone{
    width: 75px;
    max-width: 75px;
}
.chard-paciente-main-cont .date{
    width: 74px;
    max-width: 74px;
}

.chard-paciente-main-cont .name:hover{
    cursor: pointer;
    text-decoration: underline;
}
.chard-paciente-main-cont img:hover{
    cursor: pointer;
}
.chard-paciente-main-cont .treatment{
    width: 230px;
    max-width: 230px;
}
.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }
  .modal-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  .chard-paciente-main-cont img {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .chard-paciente-main-cont img:hover {
    transform: scale(1.05);
  }

  img {
    max-width: 1000px; 
    max-height: 670px; 
    width: auto;
    height: auto;
    object-fit: contain; 
  }
  

