@import '../../assets/base.css';
.chard-paciente-main-cont{
    display: flex;
    gap: 30px;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin-bottom: 6px;
    margin-right: 20px;
    align-items: center;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

.chard-paciente-main-cont p{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}
.chard-paciente-main-cont img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
}
.chard-paciente-main-cont .ci{
    width: 64px;
}
.chard-paciente-main-cont .name{
    flex: 1;
}
.chard-paciente-main-cont .name:hover{
    cursor: pointer;
    text-decoration: underline;
}
.chard-paciente-main-cont img:hover{
    cursor: pointer;
}
.chard-paciente-main-cont .treatment{
    flex: 1;
}

