@import '../../assets/base.css';
.sb-main-cont{
    display: flex;
    flex-direction: row;
    gap: 0px;    
    padding: 0px 40px 0px 20px;
    align-items: center;
    margin-bottom: 10px;
}
.sb-main-cont input{
    flex: 1;
    height: 35px;
    padding: 10px 10px 10px 20px;
    border: 1px solid var(--color-text-secondary);
    border-radius: 20px;
    font-size: 15px;
    
}
.sb-main-cont input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}
.sb-main-cont input::placeholder{
    color: var(--color-text-secondary);
    opacity: 0.8;
}

.icon-search{
    color: var(--color-text-secondary);
    flex: 0.05;
    margin-left: 0px;
    margin-right: 10px;
}
.icon-search:hover{
    cursor: pointer;
}
.sb-main-cont button{
    background-color: var(--primary-color);
    border-radius: 20px;
    border: none;
    height: 35px;
    flex: 0.4;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.sb-main-cont button p{
    font-size: 12px;
    font-weight: bold;
}
.sb-main-cont button:hover{
    cursor: pointer;
}
.sb-main-cont button:active{
    background-color: var(--color-text-secondary);
    color: white;
}
.sb-main-cont .icon-plus{
    margin-left: 10px;
}